.align-products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}

.products-text,
.conhecimentos-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products-text {
  margin-right: 270px;
}

.products-text h1,
.conhecimentos-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.products-text p,
.conhecimentos-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

button p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #979393;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 170px;
  height: 60px;
  border-radius: 50px;

  background-color: white;
  border: 2.5px solid #969EA0;
  color: #969EA0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link-button {
  text-decoration: none;
}

.custom-button:hover {
  background-color: #eee6e6;
}

.arrow-icon {
  font-size: 1.2rem;
  stroke-width: 2.5;
  color: #B6BCBE;
}

@media (max-width: 480px) {
  .align-products {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 40px;
  }

  .products-text {
    margin-right: 0;
    text-align: left;
    width: 100%;
  }

  .products-text p {
    font-size: 14px;
    text-align: left;
  }

  .products-text h1 {
    margin-top: -10px;
    font-size: 28px;
    text-align: left;
  }
  
  .custom-button {
    display: none; 
  }
}
