@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#homepage {
  background-color: var(--third-color);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  width: 100%;
  height: 650px;
  display: flex;
  padding-top: 90px; 
}

.shape {
  width: 50vw;
  height: 100vh;
  animation: fadeInUp 1s ease-out;
}

.shape img {
  margin-top: 30px;
  width: 50vw;
}

.text-home {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 1s ease-out 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.home-h1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.home-h1 h1 {
  margin-top: -50px;
  font-size: 5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.home-h1 h1 > span {
  font-size: 5rem;
  color: var(--yellow);
  margin-left: 10px;
}

.home-h1 img {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -190px;
  width: auto;
  height: auto;
}

.text-home button:hover {
  background-color: #e2a03c;
}

.text-home p {
  max-width: 520px;
  height: 200px;
  font-size: 1.3rem;
  line-height: 40px;
  font-weight: 500;
  text-align: justify;
  margin-top: 20px;
}

.home-btn a {
  text-decoration: none;
}

.home-btn button {
  border: none;
  background: var(--yellow);
  width: 170px;
  height: 60px;
  border-radius: 50px;
  color: white;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog-mobile {
  display: none;
}

.dog-mobile img {
  width: 100%;
  height: auto;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@media (max-width: 480px) {
  #homepage {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0; 
  }

  .shape {
    display: none;
  }

  .text-home {
    width: 100%;
    padding: 10px; 
    height: auto;
    box-sizing: border-box; 
  }

  .home-h1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 25px;
  }

  .home-h1 h1 {
    font-size: 55px;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .home-h1 h1 > span {
    font-size: 55px;
    margin-left: 10px;
  }

  .home-h1 img {
    display: none;
  }

  .text-home p {
    width: 360px;
    font-size: 15px;
    line-height: 23px;
    text-align: justify;
    margin-top: 15px;
  }

  .home-btn {
    align-self: flex-end;
    margin-top: -75px;
    margin-right: 40px;
  }

  .home-btn button {
    width: 200px;
    height: 55px;
  }

  .dog-mobile {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .dog-mobile img {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}
